In [90]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('desafio1.csv')

In [4]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [4]:
df.describe()

,RowNumber,pontuacao_credito,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,3500.500000,649.787000,38.892714,5.010286,76471.883751,1.526000,0.703286,0.512143
std,2020.870275,97.046279,10.465562,2.887500,62403.383911,0.583047,0.456842,0.499888
min,1.000000,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,1750.750000,582.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000
50%,3500.500000,651.000000,37.000000,5.000000,97277.130000,1.000000,1.000000,1.000000
75%,5250.250000,717.000000,44.000000,7.250000,127537.155000,2.000000,1.000000,1.000000
max,7000.000000,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000

In [5]:
df.columns

Index(['RowNumber', 'id', 'sobrenome', 'pontuacao_credito',
       'estado_residencia', 'genero', 'idade', 'nivel_estabilidade',
       'saldo_conta', 'numero_produtos', 'possui_cartao_de_credito',
       'membro_ativo'],
      dtype='object')

In [98]:
media = list(df.groupby('estado_residencia')['pontuacao_credito'].mean())

In [99]:
mediana = list(df.groupby('estado_residencia')['pontuacao_credito'].median())

In [102]:
desvio_padrao = list(df.groupby('estado_residencia')['pontuacao_credito'].std())

In [101]:
moda = list(df.groupby('estado_residencia')['pontuacao_credito'].agg(pd.Series.mode))

In [111]:
media[0]

648.9612940496822

In [21]:
df.groupby('estado_residencia')['pontuacao_credito'].agg(lambda x:x.value_counts().index[0])

estado_residencia
PR    850
RS    850
SC    850
Name: pontuacao_credito, dtype: int64

In [115]:
respostas = pd.DataFrame(
    {
        "PR": [moda[0], mediana[0], media[0], desvio_padrao[0]],
        "RS": [moda[1], mediana[1], media[1], desvio_padrao[1]],
        "SC": [moda[2], mediana[2], media[2], desvio_padrao[2]]
    }, index = ['moda', 'mediana', 'media', 'desvio_padrao' ]
)

In [116]:
respostas.head()

                       PR          RS          SC
moda           850.000000  850.000000  850.000000
mediana        650.000000  650.000000  653.000000
media          648.961294  651.105143  649.537653
desvio_padrao   98.607186   95.136598   97.233493

In [118]:
respostas.to_json('submission.json')